---
import dayjs from '@/utils/dayjs';
import { Icon } from 'astro-icon/components';
import Link from './Link.astro';
import ToggleTheme from './ToggleTheme';
---

<footer class="border-t border-border w-full py-4 flex items-center gap-4">
  <span class="font-semibold">© 2023-{dayjs().get('year')}</span>
  <Link href="https://github.com/aloniacode" label="Github">
    <Icon
      name="tabler:brand-github"
      size="22"
      class="hover:scale-110 transition-all duration-300 ease-in-out"
    />
  </Link>
  <Link href="https://twitter.com/aloniacode" label="Twitter">
    <Icon
      name="tabler:brand-twitter"
      size="22"
      class="hover:scale-110 transition-all duration-300 ease-in-out"
    />
  </Link>
  <div class="ml-auto flex items-center gap-4">
    {dayjs().format('dddd')}
    <a
      href={`${Astro.site}/rss.xml`}
      aria-label="rss"
      class="cursor-pointer hover:scale-110 hover:text-primary max-md:hidden"
    >
      <Icon name="tabler:rss" size="18" />
    </a>
    <ToggleTheme client:only="react" />
  </div>
</footer>
