---
import logo from '@/assets/images/logo.png';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import NavMenu from './NavMenu';
import SearchButton from './SearchButton.tsx';

const posts = await getCollection('blog');
const pathname = new URL(Astro.request.url).pathname;
---

<header
  class="container mx-auto px-4 flex items-center justify-between py-4 border-b border-border h-16"
>
  <a
    href="/"
    aria-label="Go home"
    class="w-10 h-10 transition-all ease-in-out duration-500 hover:scale-180 hover:rotate-360"
  >
    <Image
      src={logo}
      alt="codercoin_logo"
      quality="max"
      class="rounded-full"
      loading="eager"
    />
  </a>
  <SearchButton posts={posts} client:only="react" />
  <div class="flex items-center gap-8 w-fit">
    <NavMenu pathname={pathname} client:only="react" />
  </div>
</header>
