---
import BackToTop from '@/components/BackToTop';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import '@/styles/global.css';
import '@fontsource/monaspace-neon';
import { ClientRouter } from 'astro:transitions';
interface Props {
  pageTitle?: string;
}
const { pageTitle = "Time1sMoney's Blog" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Time1sMoney's blog" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{pageTitle}</title>
    <ClientRouter fallback="animate" />
  </head>
  <body
    class="relative font-sans min-w-[500px] min-h-[100vh] flex flex-col"
  >
    <Header />
    <main
      class="max-w-4xl container mx-auto relative flex flex-1"
      transition:animate="fade"
    >
      <slot />
    </main>
    <Footer />
    <BackToTop client:only="react" />
  </body>
</html>
